body {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    width: 400px;
    height: 400px;
    margin: auto;
}

.tile {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
}


.tile.hidden {
    opacity: 0;
    transform: scale(0.8);
}