body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/background01-01.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    width: 400px;
    height: 400px;
    margin: 36px;
}

.tile {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;
    transition: opacity 0.5s ease, transform 0.3s ease;
    opacity: 1;
}

.tile.hidden {
    opacity: 0;
    transform: scale(0.8);
}

.BackGround-tile {
    background: url('images/background-tile.png') no-repeat;
}

input.GameStartButton {
    background: url("images/start.png") no-repeat;
    width: 155px;
    height: 70px;
    border-width: 0;
    margin-bottom:  30px;
}

#timer-board {
    position: fixed;
    top: 20px;
    letter-spacing: -50px;
}

#score-board {
    letter-spacing: -10px;
}

#timer-button {
    background: url('images/buttonbg.png');
    width: 465px;
    height: 280px;
    border-width: 0;
    margin-bottom:  30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#GameStart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}